{% extends 'base.html.twig' %}

{% block title %}
    Wish by {{ wish.author }}
{% endblock %}

{% block body %}
    <div class="wish-details">
        <h2>{{ wish.title }}</h2>
        <p>{{ wish.description }}</p>
        <cite>Authored by {{ wish.author }} </cite>
        <cite>On {{ wish.dateCreated|date('D d M y') }}</cite>
    </div>
{% endblock %}