{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | The List
{% endblock %}

{% block body %}
    <h1>The {{ parent() }}</h1>

    <div class="wish-list">
        <ol>
            {% for wish in allWishes %}
                <li><a href="{{ path('wish_details', {'id': wish.id }) }}">{{ wish.title }}</a>
                <dd>Category : <a href="{{ path('wish_listCategory', {'categoryId' : wish.category.id}) }}">{{ wish.category.name }}</a></dd>
                </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}