<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('wish_list') }} " title="Wish list">The List</a></li>
        <li><a href="{{ path('category_list') }} " title="Category list">The Categories</a></li>
        <li><a href="{{ path('wish_add') }} " title="Add a Wish">Add a Wish</a></li>
        <li><a href="{{ path('main_about') }} " title="About Us">About Us</a></li>
    </ul>
</nav>