<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('wish_list') }} " title="Wish list">The List</a></li>
        {# <li><a href="{{ path('category_list') }} " title="Category list">The Categories</a></li> #}

        {% if app.user %}
            <li><a href="{{ path('wish_add') }} " title="Add a Wish">Add a Wish</a></li>
            <li><a href="{{ path('app_logout') }} " title="logout">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }} " title="login">Login</a></li>
            <li><a href="{{ path('app_register') }} " title="register">Register</a></li>
        {% endif %}
        <li><a href="{{ path('main_about') }} " title="About Us">About Us</a></li>
    </ul>
</nav>